@charset "utf-8";

:root {
    box-sizing: border-box;
}

*,
::before::after {
    box-sizing: inherit;
}

body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 1em 1.5em;
    color: #fff;
    background-color: rgb(125, 214, 213);
    border-radius: .5em;
}

.container {
    display: flex;
}

.main {
    width: 70%;
    background-color: #fff;
    border-radius: .5em;
}

.sidebar {
    width: 30%;
    padding: 1.5em;
    margin-left: 1.5em;
    background-color: #ffffff;
    border-radius: .5em;
}

.button-link {
    display: block;
    padding: .5em;
    color: #fff;
    background-color: #83cbe7;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .8em;
}

.button-link+.button-link {
    margin-top: 1.5em;
}

.sponsor-link {
    display: block;
    color: #67b2da;
    font-weight: bold;
    text-decoration: none;
}

.wrap {
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

th {
    background-color: #60e1c7;
    color: #ffffff;
    width: 25vw;
    height: 75px;
}

td {
    background-color: #ffffff;
    width: 25vw;
    height: 50px;
    text-align: center;
}

tr {
    border-bottom: 1px solid #dddddd;
}

tr:last-of-type {
    border-bottom: 2px solid #77e9d3;
}

tr:nth-of-type(even) td {
    background-color: #f3f3f3;
}

tr:hover td {
    background-color: #b7b7b7;
    transition: all 0.3s ease-in-out;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #77e9d3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3bc6aa;
    transition: all 0.3s ease-in-out;
}

.div-input {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}