@charset "utf-8";

:root {
    box-sizing: border-box;
}

*,
::before::after {
    box-sizing: inherit;
}

body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 1em 1.5em;
    color: #fff;
    background-color: rgb(125, 214, 213);
    border-radius: .5em;
}

.container {
    display: flex;
}

.main {
    width: 70%;
    background-color: #fff;
    border-radius: .5em;
}

.sidebar {
    width: 30%;
    padding: 1.5em;
    margin-left: 1.5em;
    background-color: #ffffff;
    border-radius: .5em;
}

.button-link {
    display: block;
    padding: .5em;
    color: #fff;
    background-color: #83cbe7;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .8em;
}

.button-link+.button-link {
    margin-top: 1.5em;
}

.sponsor-link {
    display: block;
    color: #67b2da;
    font-weight: bold;
    text-decoration: none;
}